---
import "../styles/global.scss";

export interface Props {
    title: string;
    description: string;
    image?: string;
    script?: [
        {
            type: string;
            value: any;
        }
    ];
}

const { title, description, image = "/social.png", script } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="theme-color" content="hsl(214, 19%, 51%)" />
<title>{title}</title>
