<footer>
    <div class="container">
        <div class="footer--inner">
            <div class="row">
                <div class="col-sm">&copy; Copyright 2022 143087_PRJ4</div>
                <div class="col-sm"></div>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
    .footer {
        &--inner {
            color: hsl(var(--foreground-2));
            width: 100%;
            padding: 2rem 0;
            border-top: 1px solid hsla(var(--foreground), 0.1);
        }
    }
</style>
